@model IEnumerable<Tweeter.Models.Tweet>

@{
    ViewBag.Title = "Tweets";
}
<div class="content service-three">
    <div class="container">
        <h2>Tweets</h2>
        <hr />

        @foreach (var item in Model)
        {
            @Html.Partial("_TweetPartial", item);
        }

    </div>
</div>